body {
  display: flex;
}

.board {
  margin: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.squareDiv {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
