body {
  display: flex;
  justify-content: center;
}

.board {
  margin: 20px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.squareDiv {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
